<strong>Olá, {{ name }}</strong>
<p>Um novo pacote foi direcionado para que você realize a entrega. O mesmo aguarda retirada no período das 08h às 18h.</p>
<p>
  <strong>Código: </strong> {{ id }}<br /><br />
  <strong>Produto: </strong> {{ product }}<br /><br />
  <strong>Logradouro: </strong> {{ street }}<br />
  <strong>Número: </strong> {{ number }}<br />
  <strong>Complemento: </strong> {{ complement }}<br />
  <strong>Bairro: </strong> {{ neighborhood }}<br />
  <strong>Cidade: </strong> {{ city }}<br />
  <strong>Estado: </strong> {{ state }}<br />
  <strong>País: </strong> {{ country }}<br />
  <strong>CEP: </strong> {{ zipcode }}<br />
</p>
